@model CarDealer.Web.ViewModels.Countries.SelectCountryViewModel
@{
    this.ViewData["Title"] = "Select country";
    var countriesItems = this.Model.CountriesItems.Select(x => new SelectListItem(x.Key, x.Value));
}

<section class="hero-area bg-2 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Buy & Sell Cars All Over The World </h1>
                    <p>Join the millions who buy and sell cars from each other <br> everyday in local communities around the world</p>
                    <hr>
                    <form id="countryForm" method="post" class="col-md-12 offset-md-3">
                        <div class="form-group col-md-6">
                            <select style="background-color: white" asp-for="CountryId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="countriesItems"></select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                            <hr />
                            <button type="submit" class="button-search"><span>GO AHEAD </span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('countryForm').addEventListener('click', (ev) => {
        if (ev.target.tagName == 'LI') {
            sessionStorage.setItem('userCountryName', ev.target.textContent);
            sessionStorage.setItem('userCountryId', ev.target.dataset.value);
        }
    })
</script>