@model CarDealer.Web.ViewModels.ContactUs.ContactUsViewModel

<section class="page-title">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <!-- Title text -->
                <h3>Contact Us</h3>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
<!-- page title -->
<!-- contact us start-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-us-content p-4">
                    <h5>Contact Us</h5>
                    <h1 class="pt-3">Hello, what's on your mind?</h1>
                </div>
            </div>
            <div class="col-md-6">
                <form id="contact-form" role="form" action="" method="post">
                    <fieldset class="p-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 py-2">
                                    <input id="fullName" class="form-control" asp-for="FullName" type="text" name="fullName" placeholder="Name *" required>
                                    <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 pt-2">
                                    <input class="form-control" type="email" asp-for="Email" name="email" placeholder="Email *" required>
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input class="form-control w-100" type="text" name="subject" id="subject" placeholder="Subject *" asp-for="Subject" required>
                        <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                        <textarea asp-for="Message" name="message" id="message" placeholder="Message *" class="border w-100 p-3 mt-3 mt-lg-4" required></textarea>
                        <div class="btn-grounp">
                            <button type="submit" class="btn btn-primary mt-2 float-right">SUBMIT</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
