@using CarDealer.Data.Models.CarModels
@using CarDealer.Data.Models.SaleModels
@model CarDealer.Web.ViewModels.InputModels.Sales.AddSaleInputModel
@{ 
    this.ViewData["Title"] = "Add new sale";
    var categoriesItems = this.Model.Car.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var makesItems = this.Model.Car.MakesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var fuelTypesItems = this.Model.Car.FuelTypeItems.Select(x => new SelectListItem(x.Value, x.Key));
    var euroStandartsItems = this.Model.Car.EuroStandartItems.Select(x => new SelectListItem(x.Value, x.Key));
    var gearboxesItems = this.Model.Car.GearboxesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var colorsItems = this.Model.Car.ColorstItems.Select(x => new SelectListItem(x.Value, x.Key));
    var countriesItems = this.Model.CountriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<form method="post" class="col-md-6 offset-md-3">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Car.CategoryId"></label>
        <select asp-for="Car.CategoryId" class="form-control" asp-items="categoriesItems"></select>
        <span asp-validation-for="Car.CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.MakeId"></label>
        <select asp-for="Car.MakeId" class="form-control" asp-items="makesItems"></select>
        <span asp-validation-for="Car.MakeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.FuelTypeId"></label>
        <select asp-for="Car.FuelTypeId" class="form-control" asp-items="fuelTypesItems"></select>
        <span asp-validation-for="Car.FuelTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.State"></label>
        <select asp-for="Car.State" class="form-control" asp-items="@Html.GetEnumSelectList<State>()"></select>
        <span asp-validation-for="Car.State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.EngineSize"></label>
        <input asp-for="Car.EngineSize" class="form-control" />
        <span asp-validation-for="Car.EngineSize" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.EuroStandartId"></label>
        <select asp-for="Car.EuroStandartId" class="form-control" asp-items="euroStandartsItems"></select>
        <span asp-validation-for="Car.EuroStandartId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.GearboxId"></label>
        <select asp-for="Car.GearboxId" class="form-control" asp-items="gearboxesItems"></select>
        <span asp-validation-for="Car.GearboxId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.Doors"></label>
        <select asp-for="Car.Doors" class="form-control" asp-items="@Html.GetEnumSelectList<Doors>()"></select>
        <span asp-validation-for="Car.Doors" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.ManufactureDate"></label>
        <input asp-for="Car.ManufactureDate" class="form-control" />
        <span asp-validation-for="Car.ManufactureDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.Mileage"></label>
        <input asp-for="Car.Mileage" class="form-control" />
        <span asp-validation-for="Car.Mileage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Car.ColorId"></label>
        <select asp-for="Car.ColorId" class="form-control" asp-items="colorsItems"></select>
        <span asp-validation-for="Car.ColorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" class="form-control" asp-items="countriesItems"></select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DaysValid"></label>
        <input asp-for="DaysValid" class="form-control" />
        <span asp-validation-for="DaysValid" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>