@using CarDealer.Data.Models.CarModels
@inject CarDealer.Services.Data.ICarsService carService
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model CarDealer.Web.ViewModels.Sales.EditSaleViewModel
@{
    this.ViewData["Title"] = "Edit ad:";
    var categoriesItems = this.Model.Car.CategoriesItems.Select(x => new SelectListItem(x.Key, x.Value));
    var makesItems = this.Model.Car.MakesItems.Select(x => new SelectListItem(x.Key, x.Value));
    var modelsItems = new List<SelectListItem>();
    var fuelTypesItems = this.Model.Car.FuelTypeItems.Select(x => new SelectListItem(x.Key, x.Value));
    var euroStandartsItems = this.Model.Car.EuroStandartItems.Select(x => new SelectListItem(x.Key, x.Value));
    var gearboxesItems = this.Model.Car.GearboxesItems.Select(x => new SelectListItem(x.Key, x.Value));
    var colorsItems = this.Model.Car.ColorstItems.Select(x => new SelectListItem(x.Key, x.Value));
    var citiesItems = this.Model.CitiesItems.Select(x => new SelectListItem(x.Key, x.Value));
}

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <h2>@this.ViewData["Title"]</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col-md-12">
        <label asp-for="CityId"></label>
        <select asp-for="CityId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="citiesItems"></select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Car.State"></label>
            <select asp-for="Car.State" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="@Html.GetEnumSelectList<State>()"></select>
            <span asp-validation-for="Car.State" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Car.CategoryId"></label>
            <select asp-for="Car.CategoryId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="categoriesItems"></select>
            <span asp-validation-for="Car.CategoryId" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div id="makes-models" class="form-row">
        <div id="makes" class="form-group col-md-6">
            <label asp-for="Car.MakeId"></label>
            <select name="Car.MakeId" id="MakeId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="makesItems"></select>
            <span asp-validation-for="Car.MakeId" class="text-danger"></span>
        </div>
        <div id="models" class="form-group col-md-6">
            <label asp-for="Car.ModelId" style="display: none;"></label>
            <span asp-validation-for="Car.ModelId" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Car.EuroStandartId"></label>
            <select asp-for="Car.EuroStandartId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="euroStandartsItems"></select>
            <span asp-validation-for="Car.EuroStandartId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Car.FuelTypeId"></label>
            <select asp-for="Car.FuelTypeId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="fuelTypesItems"></select>
            <span asp-validation-for="Car.FuelTypeId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Car.GearboxId"></label>
            <select asp-for="Car.GearboxId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="gearboxesItems"></select>
            <span asp-validation-for="Car.GearboxId" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Car.ColorId"></label>
            <select asp-for="Car.ColorId" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="colorsItems"></select>
            <span asp-validation-for="Car.ColorId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Car.Seats"></label>
            <select asp-for="Car.Seats" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="@Html.GetEnumSelectList<Seats>()"></select>
            <span asp-validation-for="Car.Seats" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Car.Doors"></label>
            <select asp-for="Car.Doors" class="w-100 form-control mt-lg-1 mt-md-2" asp-items="@Html.GetEnumSelectList<Doors>()"></select>
            <span asp-validation-for="Car.Doors" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Car.ManufactureDate"></label>
            <input asp-for="Car.ManufactureDate" class="w-100 form-control mt-lg-1 mt-md-2" />
            <span asp-validation-for="Car.ManufactureDate" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Car.EngineSize"></label>
            <input asp-for="Car.EngineSize" class="w-100 form-control mt-lg-1 mt-md-2" />
            <span asp-validation-for="Car.EngineSize" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Car.HorsePower"></label>
            <input asp-for="Car.HorsePower" class="w-100 form-control mt-lg-1 mt-md-2" />
            <span asp-validation-for="Car.HorsePower" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Car.Mileage"></label>
            <input asp-for="Car.Mileage" class="w-100 form-control mt-lg-1 mt-md-2" />
            <span asp-validation-for="Car.Mileage" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="DaysValid"></label>
            <input asp-for="DaysValid" class="w-100 form-control mt-lg-1 mt-md-2" />
            <span asp-validation-for="DaysValid" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>

<!-- car models loader -->
<script src="~/js/carModels.js"></script>